* {
    margin: 0;
    pedding: 0;
}

body {
    background-color: rgb(134, 88, 31);
}

.container {
    background-color: bisque;
    width: 50%;
    margin: 100px auto;
    padding: 55px border-radius
}

h1 {
    text-align: center;
    margin-bottom: 25px;

}

.form-1 {
    margin: 10px auto;

}

.form-2 {
    padding: 10px;
}

.titles {
    display: block;
    float: left;
    width: 300px;
}